<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>TreeMenu</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Древовидное меню</a></h1>
        <nav>
            {% load menu_tags %}
            {% draw_menu menu %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>