ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    padding: 5px 10px;
}
li a {
    color: black;
}
li.active > a {
    font-weight: bold;
    color: red;
}
li.expanded > ul {
    display: block;
}
ul ul {
    display: none;
    padding-left: 15px;
}
li.expanded > ul {
    display: block;
}